
{% block title %}
    <title>管理员登录</title>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/log_reg.css">
    </head>
{% endblock %}

{% block content %}
{#    <script src="./static/js/register_picture.js"></script>#}
    <div class="wrap">
    <div class="container">
        <h1>管理员登录</h1>
        <form action="{% url 'adminlogining' %}" method="post">
             {% csrf_token %}
            <input type="text" name="name" placeholder="用户名" required="required">
            <input type="password" name="password" placeholder="密码" required="required">

            <input type="submit" value="登录"/>
            <input type="reset" value="重置"/>

        </form>
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}
