/* 整个外层容器的宽高 */
.nav {
    width: 40%;height: 100px;margin:0% 20% 0 50%;position: absolute;
}
/* 整个导航栏的宽高 */
.nav .menu {
    width: 100%;
    /* 导航栏居中 */
    margin: 0 auto; 
    height: 100%;
    box-sizing: border-box;    
}
.nav li {
    /* 对其菜单项左浮动，呈横向排列 */
    float: left;
    list-style-type:none;
}
/* 设置菜单项里的文字内容 */
.nav ul li a:link,
.nav ul li a:visited{
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: black;
    text-align: center;
    background: pink;
}
/* 设置菜单项里文字点击的效果颜色 */
.nav ul li a:hover,
.nav ul li a:active {
    background: lightpink;
}
/* 隐藏二级菜单 */
.nav ul li ul {
    display: none;
    position: absolute;
    z-index: 10;
}
/* 让二级菜单在点击一级菜单项时才会出现 */
.nav ul li:hover ul {
    display: block;
}
/* 清除二级菜单的浮动 */
.nav ul li ul li {
    float: none;
    background: lightpink;
}
