<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员中心</title>
    <style>
    button{
        color: palevioletred;
        background-color: #f3f3f3;
        border-color: #f3f3f3;
        border-radius: 12px;
        padding: 10px 10px;
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 20px;
        text-decoration: none;
        display: inline-block;
    }

    </style>
</head>
<body>
<center>
        <a href="{% url 'ok' %}"> <button class="button">管理员审核</button></a>
</center>
</body>
</html>