{#{% extends 'myapp/base.html' %}#}

{% block title %}
<title>查询信息</title>
    <style >
    .pink{
        color: pink;
    }
.container {
    position: relative;
    flex-direction: row;
    display: flex;
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
}
.text{
    position: relative;
    text-align: justify;
    text-justify: inter-ideograph;
    margin-right: 150px;
    /* margin-top: 150px; */
    margin-left: 100px;
}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
	margin-top:-9px;
}
button{
    color: palevioletred;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    border-radius: 12px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    }

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float:left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: palevioletred;
}
</style>
{% endblock %}

{% block content %}
{#    <table border="1">#}
{#    <thead>#}
{#    <tr>#}
{#        <td>id</td>#}
{#        <td>用户名</td>#}
{#        <td>密码</td>#}
{#        <td>电话</td>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for port in airports %}#}
{#        <tr>#}
{#            <td>{{ id }}</td>#}
{#            <td>{{ name }}</td>#}
{#            <td>{{ password }}</td>#}
{#            <td>{{ tel }}</td>#}
{#        <td><a href="{% url 'xiugai' port.id %}">编辑</a></td>#}
{##}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
    <div>
        <img src="/static/image/zzb.jpg" width="50%" height="auto">
{#        <a href="{% url 'index'%}"><button>返回首页</button></a>#}
{#        <button class="button">管理员中心</button>#}

    </div>

</table>
<ul>
{#    <a><button>个人信息</button></a>#}
    <li>{% if request.session.love_user.name %}
        <form action="{% url 'findpage3'  %}" method="post">
        {% csrf_token %}
        <input type="hidden" onkeydown="this.onkeyup();" onkeyup="this.size=(this.value.length>4?this.value.length:4);" size="4" name="find3"  value="{{ request.session.love_user.name }}" readonly="readonly"  />
        <button><span>我的活动</span></button>
    </form>
    {% endif %}</li>



  <li>
{#      <a href="{% url 'showdata2' 1 %}">我参与的</a>#}
{#    {% if request.session.love_user.name %}#}
{#         <form action="{% url 'findpage2'  %}" method="post">#}
{#            {% csrf_token %}#}
{#             <input type="text" onkeydown="this.onkeyup();" onkeyup="this.size=(this.value.length>4?this.value.length:4);" size="4" name="find2"  value="{{ request.session.love_user.name }}" readonly="readonly" />#}
{#                 <input type="submit" name="find" value="我参与的"/>#}

{#             <input type="text" onkeydown="this.onkeyup();" onkeyup="this.size=(this.value.length>4?this.value.length:4);" size="4" name="find1"  value="{{ request.session.love_user.name }}" readonly="readonly" />#}

{#         <br><br><br><br><br>#}


{#        </form>#}
{#         {% endif %}#}
    </li>

    <li><button class="button" onclick="window.location.href='{% url 'application' %}'"> 申请活动 </button><br></li>
<a href="{% url 'index'%}"><button>返回首页</button></a>

</ul>

<div class="container">
    <div class="text">
      <img src="/static/image/植树女.png" width="90%" height="auto" >
    </div>
    <div class="text" style="font-size: 30px;">

        <tr>
{#            <text>ID：</text><td>{{ id }}</td><br>#}
            <text>用户名：</text><td>{{ name }}</td><br><br>
            <text>密码：</text><td>{{ password }}</td><br><br>
            <text>电话：</text><td>{{ tel }}</td><br>

        </tr>
{#        <text>用户名：</text><br>#}
{#        <text>性别：</text><br>#}
{#        <text>出生日期：</text><br>#}
{#        <text>身份：</text><br>#}
{#        <text>电子邮箱：</text><br>#}
        <br>
      <a href="{% url 'xiugai' id %}" class="pink" style="font-size: 20px;"><button style="margin-left: 10%">修改个人信息</button></a>
    </div>
    <div class="text">
        <img src="/static/image/跳起男.png" width="90%" height="auto" >
    </div>
</div>
{% endblock %}