{% extends 'myapp/base2.html' %}
{% block title %}
<meta charset="utf-8"> 
<title>ceshi</title> 
<style type="text/css">
.tabtop13 {
	margin-top: 13px;
}
.tabtop13 td{
	background-color:#ffffff;
	height:25px;
	line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}
.biaoti{
	font-family: 微软雅黑;
	font-size: 35px;
	font-weight: bold;
	border-bottom:1px dashed #CCCCCC;
	color: #255e95;
}
.titfont {
	
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: bold;
	color: #255e95;
	{#background: url(/static/image/) no-repeat 15px center;#}
	background-color:#e9faff;
}
.tabtxt2 {
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	color:#327cd1;
}
.tabtxt3 {
	font-family: 微软雅黑;
	font-size: 20px;
	padding-left: 15px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}
</style>
{% endblock %}

{% block content %}<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td align="center" class="biaoti" height="60">公益基金会</td>
        </tr>
        <!-- <tr>
          <td align="right" height="25">2017-01-02---2017-05-02</td>
        </tr> -->
      </table>
      
      <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
        <tr>
          <td width="10%" class="btbg font-center titfont" rowspan="2" >基金会名称</td>
          <td width="10%" class="btbg font-center titfont" rowspan="2">成立时间</td>
          <td width="10%" class="btbg font-center titfont" rowspan="2">组织宗旨</td>
          <td width="20%" class="btbg font-center titfont" rowspan="2">简介</td>
          <td width="15%" class="btbg font-center titfont" rowspan="2">业务范围</td>
        </tr>
        
        
        <tr>
        
        </tr>
        <tr>
          <td class="btbg2">中国残疾人福利基金会
{#              <br><a href="">[详情]</a></td>#}
          <td>1984年3月15日</td>
          <td>弘扬人道，奉献爱心，全心全意为残疾人服务</td>
          <td>中国残疾人福利基金会经国务院批准于1984年3月15日成立的全国性公募基金会。基金会的宗旨是弘扬人道，奉献爱心，全心全意为残疾人服务。理念是“集善”，即集合人道爱心，善待天下生命。
              工作目标是努力建设成为公开、透明、高效率和高公信力的慈善组织。
                中国残疾人福利基金会自成立以来，高举人道主义旗帜，大力倡导扶残助困的良好社会风尚，积极开展募捐活动，筹集资金，努力改善残疾人康复、教育、就业等各方面状况。在邓朴方会长的领导下，培育了“扶贫类项目”、“集善嘉年华”、“康复类项目”、“教育类项目”、“就业类项目”、“文体类项目”、“生活类项目”、
                “无障碍建设类项目”、“预防类项目”等一批有社会影响力的公益项目，
                推动了中国残疾人事业的发展。</td>
          <td>宣传残疾人事业，呼吁社会理解、尊重、关心、帮助残疾人，鼓励残疾人自尊、自信、自强、自立；</td>
          
     
          
        </tr>
        <tr>
          <td class="btbg2">中华环境保护基金会
{#                <br><a href="">[详情]</a>#}
          </td>
          <td>1993年4月</td>
          <td>广泛募集、取之于民、用之于民、保护环境、造福人类</td>
          <td><br>中华环境保护基金会成立于1993年4月27日，是经民政部登记注册的中国第一家从事环境保护公益事业的全国性公募基金会。
              1992年6月，在巴西里约热内卢召开的联合国环境与发展大会上，首任国家环境保护局局长曲格平教授获得联合国环境大奖，
              他把所获得的10万美元奖金全部捐出，并以此为基础成立了中华环境保护基金会，曲格平、傅雯娟先后出任理事会理事长。
              全国人大常委会原委员长万里、原国务院副总理兼外交部长黄华先生、全国人大原副委员长成思危、蒋正华先后出任名誉理事长。
              理事会由政府、社团、高校、文化和企业等领域热心环境保护公益事业的代表组成，是基金会的决策机构.<br></td>
          <td >2021年4月8日，中华环境保护基金会与合作伙伴共同发起公益活动“U+校餐计划”， 旨在帮助乡村在校学生提升校餐的营养健康、
              食品安全、减少浪费，
                同时引导学生均衡饮食，养成勤俭节约、爱惜粮食的好习惯，建设资源节约型校园<br></td>
         
        </tr>
        <tr>
          <td class="btbg2">中国志愿服务基金会
{#                <br><a href="">[详情]</a>#}
          </td>
          <td>2009年7月</td>
          <td>秉承“行善立德”的价值理念，发扬“团结、关爱、奉献”的志愿服务精神，
              真心关爱群众，努力为民造福，弘扬正能量，引领新风尚，为大力培育和践行社会主义核心价值观做出新贡献。</td>
          <td>中国志愿服务基金会大力弘扬“奉献、友爱、互助、进步”的志愿服务精神，
              不断强化社会责任意识、规则意识和奉献意识，大力普及志愿服务理念，弘扬正能量，
              引领新风尚，为弘扬和践行社会主义核心价值观作出了积极贡献。近年来，中国志愿服务基金会坚持“把爱心献给最需要关爱的人，
              把服务献给最需要帮助的人”的价值理念，积极探索资金募集和项目运作的新模式，
              直接参与精神文明建设和公共事业管理，先后为志愿服务和扶贫项目提供保障资金4亿余元，
              有力推动了志愿服务事业的发展。

            </td>
          <td>中国志愿服务基金会的业务范围主要包括：资助扶贫济困、扶弱助残、帮老助幼、
              支教助学、抢险救灾、环境保护、科技传播、医疗卫生、治安防范、社区服务以及其他推动教育、
              科学、文化、卫生、体育等事业发展的各类志愿服务公益项目；资助志愿服务的理论研究和宣传；
              资助或支持对志愿服务事业作出突出贡献的团体和个人的奖励工作；开展与港澳台同胞、海外侨胞、
              国外友好团体和人士，以及国际组织、
              基金组织的友好往来，增进相互了解，推进并实施体现国际人道主义、
              弘扬中华文化的国际志愿服务公益项目的援助与合作。</td>
              
        </tr>
        <tr>
          <td class="btbg2">中国青少年发展基金会
{#                <br><a href="">[详情]</a>#}
          </td>
          <td>1989年3月</td>
          <td>	坚持以习近平新时代中国特色社会主义思想为指导,弘扬慈善文化，
              倡导公益理念，多做雪中送炭的实事，汇聚社会爱心，
              传递党的温暖;通过资助服务、利益表达和社会倡导，帮助青少年提高能力，
              改善青少年成长环境，促进青少年全面发展。</td>
          <td>中国青少年发展基金会简称为"中国青基会"，
              英文译名为"China Youth Development Foundation"，缩写为"CYDF"。中国青基会是5A级基金会，
              1989年3月由共青团中央发起成立。
              中国青基会是全国性公募基金会，其面向公众募捐的地域是中国以及许可中国青基会募捐的国家和地区。</td>
          <td>（一）依法在海内外开展公开募捐活动； （二）组织实施符合本基金会宗旨的资助、服务和救灾援助项目； 
              （三）开展有益于青少年身心健康的各项活动； （四）支持并组织实施青少年研究和非营利组织发展的研究； 
              （五）依法依规并经批准后奖励青少年优秀人才及为青少年事业做出杰出贡献的个人和团体； 
              （六）开展与台港澳同胞、海外侨胞、国外友好团体和人士以及国际青少年组织、非营利组织的友好交流与合作。</td>
            
        </tr>
        </table>
      {% endblock %}