{#{% extends 'myapp/base.html' %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#<title>真知棒爱心公益平台</title>#}
{#<style >#}
{#    .pink{#}
{#        color: pink;#}
{#    }#}
{#.container {#}
{#    position: relative;#}
{#    flex-direction: row;#}
{#    display: flex;#}
{#    text-align: justify;#}
{#    text-justify: inter-ideograph;#}
{#    font-size: 25px;#}
{#    margin-top: 150px;#}
{#    margin-left: 150px;#}
{#    margin-right: 150px;#}
{#}#}
{#.text{#}
{#    position: relative;#}
{#    text-align: justify;#}
{#    text-justify: inter-ideograph;#}
{#    margin-right: 150px;#}
{#    /* margin-top: 150px; */#}
{#    margin-left: 100px;#}
{#}#}
{#.center {#}
{#    position: absolute;#}
{#    left: 0;#}
{#    top: 50%;#}
{#    width: 100%;#}
{#    text-align: center;#}
{#    font-size: 18px;#}
{#	margin-top:-9px;#}
{#}#}
{#button{#}
{#    color: palevioletred;#}
{#    background-color: #f3f3f3;#}
{#    border-color: #f3f3f3;#}
{#    border-radius: 12px;#}
{#    padding: 10px 10px;#}
{#    text-align: center;#}
{#    font-size: 10px;#}
{#    margin-top: 10px;#}
{#    margin-left: 100px;#}
{#    margin-bottom: 20px;#}
{#    text-decoration: none;#}
{#    display: inline-block;#}
{#    }#}
{##}
{#ul {#}
{#    list-style-type: none;#}
{#    padding: 0;#}
{#    overflow: hidden;#}
{#    border: 1px solid #e7e7e7;#}
{#    background-color: #f3f3f3;#}
{#}#}
{##}
{#li {#}
{#    float:left;#}
{#}#}
{##}
{#li a {#}
{#    display: block;#}
{#    color: #666;#}
{#    text-align: center;#}
{#    padding: 14px 16px;#}
{#    text-decoration: none;#}
{#}#}
{##}
{#li a:hover:not(.active) {#}
{#    background-color: #ddd;#}
{#}#}
{##}
{#li a.active {#}
{#    color: white;#}
{#    background-color: palevioletred;#}
{#}#}
{#</style>#}
{#</head>#}
{#<body>#}
{#<table>#}
{#    <thead>#}
{##}
{#        <text>id</text>#}
{#        <text>用户名</text>#}
{#        <text>密码</text>#}
{#        <text>电话</text>#}
{##}
{#    </thead>#}
{#    <tbody>#}
{#    {% for port in airports %}#}
{##}
{#            <text>{{ port.id }}</text>#}
{#            <text>{{ port.name }}</text>#}
{#            <text>{{ port.password }}</text>#}
{#            <text>{{ port.tel }}</text>#}
{##}
{##}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{#    <div>#}
{#        <img src="images/zzb.jpg" width="50%" height="auto">#}
{#        <a href="{% url 'index' %}"><button class="button">返回首页</button></a>#}
{#        <button class="button">管理员中心</button>#}
{#        <button class="button"> 申请活动 </button><br>#}
{#    </div>#}
{##}
{#</table>#}
{#<ul>#}
{#  <li><a class="active" href="#home">个人信息</a></li>#}
{#  <li><a href="findpage3.html">我参与的</a></li>#}
{#  <li><a href="3.html">我的积分</a></li>#}
{##}
{#  #}
{#</ul>#}
{#<div class="container">#}
{#    <div class="text">#}
{#      <img src="images/植树女.png" width="90%" height="auto" >#}
{#    </div>#}
{#    <div class="text">#}
{#        {% for port in airports %}#}
{#        <tr>#}
{#            <text>{{ port.id }}</text>#}
{#            <text>{{ port.name }}</text>#}
{#            <text>{{ port.password }}</text>#}
{#            <text>{{ port.tel }}</text>#}
{#            <text>{{ port.id }}</text>#}
{#            <td>{{ port.name }}</td>#}
{#            <td>{{ port.password }}</td>#}
{#            <td>{{ port.tel }}</td>#}
{##}
{#        </tr>#}
{#    {% endfor %}#}
{#        <text>用户名：</text><br>#}
{#        <text>性别：</text><br>#}
{#        <text>出生日期：</text><br>#}
{#        <text>身份：</text><br>#}
{#        <text>电子邮箱：</text><br>#}
{#        <a href="{% url 'xiugai' data.id %}" class="pink" style="font-size: 10px;">修改个人信息</a>#}
{#    </div>#}
{#    <div class="text">#}
{#        <img src="images/跳起男.png" width="90%" height="auto" >#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}