<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>真知棒爱心公益平台</title>
<style >
    .pic_bota{
        flex-direction: row;
        display: flex;
    }
.head{
    flex-direction: row;
    display: flex;
}
    .search{
        border-radius: 12px;
    }
    .body{
        margin-left: 60px;
    }
</style>
</head>
<body>
    <div class="head">
        <img src="images/zzb.jpg" width="50%" height="auto">
        <img src="images/宝贝回家.png" width="40%" height="auto">

    </div>
    <div class="body">
        <div>
        <form action="/list.aspx?tid=1" method="post">
    性别：<select name="sex"><option value="">请选择</option><option value="2"  >其他</option><option value="1" >男</option><option value="0" >女</option></select>
    照片：<select name="photo"><option value="">请选择</option><option value="1">有照片</option><option value="0">无照片</option></select>
    <input type="submit" value="搜索" />
    </form>
        </div>
    </div>
<div style="width:950px;height:10px;margin:0 auto;"></div>
<div style="width:950px;margin:0 auto;">
    <div class="pic_bot" id="ti1" style="text-align:center;">
       <div class="pic_bota">
           <div class="">
            <input id="552782-hid" value="双胞胎妹妹,福建省,南平..,玲珑,2021-07-16" type="hidden" />
                <dl>
                    <dt style=" height:190px;"><a href="/view.aspx?type=1&amp;id=552782"><img class="cimg" width="120" height="150" src="/photo/none-120-150.jpg" onmousemove="popImg(event)" onmouseout="closePopImg(event)" id="552782" style="border:1px solid #d9d9d9; padding:2px 2px 2px 2px; " /></a></dt>
                      <dd>
                          <a href="/view.aspx?type=1&amp;id=552782"  target=_blank style=" font-size:12px; font-weight:bold;">双胞胎..</a>  <a href="/view.aspx?type=1&amp;id=552782">女</a>  <a href="/view.aspx?type=1&amp;id=552782" target=_blank style=" color:#999;  font-size:12px;">福建省..</a>
                      </dd>
                 </dl>
          </div>
           <div>
            <input id="552715-hid" value="黎华石,2017-08-14,2021-07-11,552715,广西壮族自..,浩哥,2021-07-15" type="hidden" />
                <dl>
                      <dt style=" height:190px;"><a href="/view.aspx?type=1&amp;id=552715"><img class="cimg" width="120" height="150" src="/photo/Small/s_552715.jpg" onmousemove="popImg(event)" onmouseout="closePopImg(event)" id="552715" style="border:1px solid #d9d9d9; padding:2px 2px 2px 2px; " /></a></dt>
                          <dd>
                              <a href="/view.aspx?type=1&amp;id=552715"  target=_blank style=" font-size:12px; font-weight:bold;">黎华石</a>  <a href="/view.aspx?type=1&amp;id=552715">男</a>  <a href="/view.aspx?type=1&amp;id=552715" target=_blank style=" color:#999;  font-size:12px;">广西壮..</a>
                          </dd>
                 </dl>
           </div>
       </div>
    </div>
</div>
</table>


</body>
